@import "tailwindcss";

@theme {
  --color-earth-base: #FDFBF7;
  --color-earth-border: #EFEBE4;
  --color-earth-text: #2D241B;
  --color-earth-muted: #8C8276;
  --color-earth-accent: #5C4033;
  --color-earth-error: #E01627;
  --color-earth-success: #47E03F;
  --color-earth-terminal: #4A3B32;
}